.best-sellers {
    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-block-start: 2.5rem;
        margin-block-end: 1.56rem;

        &_title {
            color: #FFF;
            font-family: Futura;
            font-size: 3.75rem;
            font-style: normal;
            font-weight: 700;
        }

        &_btn {
            position: relative;
            background-color: #fff;
            width: 2.875rem;
            height: 2.875rem;
            border-radius: 2rem;
            outline-style: none;
            border: none;
            user-select: none;
            cursor: pointer;
            

            &--hide {
                & > span{
                    width: 1.5rem;
                    height: 0.375rem;
                    border-radius: 0.1875rem;
                    background: #3FBFB5;
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform: translate(-50%, -50%);
                }
                & > span + span {
                    width: 1.5rem;
                    height: 0.375rem;
                    border-radius: 0.1875rem;
                    background: #3FBFB5;
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform: translate(-50%, -50%) rotate(-360deg);
                    transition: all 0.45s ease-in-out;
                }
            }

            &--show {
                & > span{
                    width: 1.5rem;
                    height: 0.375rem;
                    border-radius: 0.1875rem;
                    background: #3FBFB5;
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform: translate(-50%, -50%);
                }
                & > span + span {
                    width: 1.5rem;
                    height: 0.375rem;
                    border-radius: 0.1875rem;
                    background: #3FBFB5;
                    position: absolute;
                    inset-inline-start: 50%;
                    inset-block-start: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    transition: all 0.75s ease-in-out;
                }
            }


            &:hover{
                opacity: 0.90;
            }
            &:active{
                opacity: 0.50;
            }
        }
    }

    &-children{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.56rem;
        margin-block-start: 3rem;
        transition: all 0.75s ease-in-out;
        transform: scale(1) translateY(0);

        &--hide {
            transform:  scale(0) translateY(30rem);
        }
    }
}